body {
    background-color: #f4f4f4;
}

.jumbotron {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 10px;
}

.container {
    padding: 20px;
    margin-top: 30px;
}

#change-image {
    display: block; 
    margin: 0 auto; 
}